Repository joincottage/web-app-base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

Styled kanban task card. Added api to get username based on task.
  package-lock.json
  src/components/KanbanBoard/KanbanTaskCard.tsx
  src/components/KanbanBoard/TaskColumn.tsx
  src/hooks/useTaskUsername.ts
  src/pages/api/tasks/task-username.ts
Due: eslint --fix, prettier --write

Fix build
  src/components/stripe/PaymentForm.tsx
Due: none

Add Stripe testing info to README
  README.md
  src/components/KanbanBoard/ClientToggle.tsx
  src/components/TaskCard.tsx
  src/components/stripe/CheckoutForm.tsx
  src/components/stripe/PaymentForm.tsx
  src/pages/api/stripe/secret.ts
Due: eslint --fix, prettier --write

Add ability to transfer to connected accounts from platform
  .husky/.gitignore
  .husky/pre-commit
  package.json
  src/components/LoadingSpinner.tsx
  src/components/TaskCard.tsx
  src/components/stripe/SetupForm.tsx
  src/pages/api/stripe/submit-payment.ts
Due: eslint --fix, prettier --write

Fix build
  src/components/TaskCard.tsx
Due: none

Add first attempt at charging clients and freelancers
  README.md
  prisma/migrations/20211125200636_cust_id/migration.sql
  prisma/schema.prisma
  src/components/TaskCard.tsx
  src/components/stripe/CheckoutForm.tsx
  src/components/stripe/PaymentForm.tsx
  src/components/stripe/PaymentStatus.tsx
  src/components/stripe/SetupForm.tsx
  src/pages/api/stripe/secret.ts
  src/pages/api/stripe/submit-payment.ts
  src/pages/api/tasks/current.ts
Due: eslint --fix, prettier --write

Notify task channel when task accepted and move into done
  src/components/TaskCard.tsx
  src/pages/api/discord/notify-task-complete.ts
Due: eslint --fix

Updated task schema & added bug/feature tag to task card.
  prisma/schema.prisma
  src/components/TaskCard.tsx
  src/components/icons/CubeTransparentOutlineIcon.tsx
Due: none

Prevent main page from shifting during initial load
  prisma/seed/data/clients.json
  src/components/ClientTabs.tsx
  src/pages/index.tsx
Due: prettier --write

Make task list scrollable
  src/pages/index.tsx
Due: none

Fix pre-commit hook
  .husky/pre-commit
  package.json
Due: prettier --write

Reference user id when looking up tasks. Add error handling around user lookup.
  src/pages/api/tasks/attention-tasks.ts
  src/pages/api/tasks/current.ts
  src/pages/api/tasks/previous-tasks.ts
  src/pages/api/tasks/review-tasks.ts
  src/pages/api/v2/users/index.ts
Due: eslint --fix

Update lookups to use userId instead of email
  src/pages/api/stripe/submit-payment.ts
  src/pages/api/tasks/task-username.ts
Due: eslint --fix

Add relationships for user and client to tasks. Start v2 API for more standardized database lookups.
  prisma/migrations/20211127174011_client_user_task_relation/migration.sql
  prisma/schema.prisma
  prisma/seed/data/tasks.json
  prisma/seed/data/users.json
  src/apiService/auth/helpers.ts
  src/pages/api/v2/tasks/[id].ts
  src/pages/api/v2/tasks/index.ts
  src/pages/api/v2/users/index.ts
Due: eslint --fix, prettier --write

Add error handling around prisma query
  src/pages/api/v2/tasks/[id].ts
  src/pages/api/v2/tasks/index.ts
Due: eslint --fix

Updated colors to custom pallet.
  src/components/CurrentTask.tsx
  src/components/KanbanBoard/KanbanTaskCard.tsx
  src/components/PreviousTasks.tsx
  src/components/TasksInAttention.tsx
  src/components/TasksInReview.tsx
  src/components/emptystates/ClientColumnLoadingState.tsx
  src/components/icons/CubeTransparentOutlineIcon.tsx
Due: none

Added foundation colors, updated buttons
  src/styles/theme.css
  tailwind.config.js
Due: eslint --fix

Fixed formating
  src/pages/index.tsx
Due: none

Removed scrollbars from task list.
  src/pages/index.tsx
  src/styles/theme.css
Due: none

Streamline loading state for home page
  src/components/ClientTabs.tsx
  src/components/CurrentTask.tsx
  src/components/TaskList.tsx
  src/components/UserTasksColumn.tsx
  src/components/emptystates/ClientColumnLoadingState.tsx
  src/pages/index.tsx
Due: none

fixed formatting
  src/pages/api/tasks/abandon-task.ts
  src/pages/api/tasks/attention-tasks.ts
  src/pages/api/tasks/current.ts
  src/pages/api/tasks/index.tsx
  src/pages/api/tasks/previous-tasks.ts
  src/pages/api/tasks/review-tasks.ts
  src/pages/api/tasks/task-username.ts
Due: eslint --fix

Updated all getSession to use helper function, added 500 error
  src/pages/api/tasks/abandon-task.ts
  src/pages/api/tasks/attention-tasks.ts
  src/pages/api/tasks/current.ts
  src/pages/api/tasks/index.tsx
  src/pages/api/tasks/previous-tasks.ts
  src/pages/api/tasks/review-tasks.ts
  src/pages/api/tasks/task-username.ts
Due: eslint --fix

Added type to task migration
  prisma/migrations/20211130173021_added_type_to_task/migration.sql
Due: none

Added try catch to prisma task calls
  src/pages/api/tasks/abandon-task.ts
  src/pages/api/tasks/attention-tasks.ts
  src/pages/api/tasks/current.ts
  src/pages/api/tasks/index.tsx
  src/pages/api/tasks/previous-tasks.ts
  src/pages/api/tasks/review-tasks.ts
  src/pages/api/tasks/task-username.ts
Due: eslint --fix

Added prisma scripts
  package.json
Due: prettier --write

Fixed formatting
  package.json
Due: prettier --write

Added 500 error to call, updated user to use helper function
  src/pages/api/tasks/current.ts
Due: eslint --fix

Add chat integration
  package-lock.json
  package.json
  src/components/Chat.tsx
  src/components/Navbar.tsx
  src/pages/chat.jsx
  tsconfig.json
Due: prettier --write

Update task card styling
  src/components/KanbanBoard/KanbanTaskCard.tsx
Due: none

Fix build error
  src/components/UserTasksColumn.tsx
Due: none

Reset task list to show all client tasks on render
  src/actions/setSelectedClient.ts
  src/contexts/AppContext.tsx
  src/pages/index.tsx
Due: eslint --fix

Fix lint-staged
  .lintstagedrc.json
  package.json
  src/pages/index.tsx
Due: prettier --write

Add 'accept and pay' and 'view pr' buttons
  package.json
  src/components/CreateATask.tsx
  src/components/KanbanBoard/KanbanTaskCard.tsx
  src/components/TaskCard.tsx
  src/constants/request-status.ts
Due: eslint --fix, prettier --write

Remove unnecessary console logs
  src/components/KanbanBoard/ProgressBar.tsx
  src/pages/index.tsx
Due: none

Fix lint-staged command
  .lintstagedrc.json
Due: prettier --write

Send price when creating a task
  src/components/CreateATask.tsx
Due: none

Add UI transitions
  src/components/Chat.tsx
  src/components/KanbanBoard/index.tsx
Due: none

Remove unnecessary comment
  src/pages/api/v2/job-postings/index.ts
Due: eslint --fix

Add job post API
  prisma/migrations/20211202231106_job_postings/migration.sql
  prisma/schema.prisma
  src/pages/api/v2/job-postings/index.ts
Due: eslint --fix

Add category field
  prisma/migrations/20211204214320_category_id/migration.sql
  prisma/schema.prisma
Due: none
