Repository joincottage/web-app-base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

fixed review tasks background color
  src/components/TasksInReview.tsx
Due: none

fixed review tasks background color
  src/components/CreateATask.tsx
Due: none

Fixed typo
  src/components/CreateATask.tsx
Due: none

ignored type error
  src/apiService/discord/channel.ts
  src/apiService/discord/invite.ts
Due: eslint --fix

Update Prisma version to 3.6
  .prettierignore
  package-lock.json
  package.json
  prisma/migrations/20211204135933_referential_integrity/migration.sql
  prisma/schema.prisma
Due: prettier --write

Replace lint staged until we can fix it
  .husky/pre-commit
Due: none

Changed request status to constants
  src/components/UpdateATask.tsx
Due: none

Updated a task.
  prisma/migrations/20211207174127_client_user_relation/migration.sql
  prisma/migrations/20211207174849_optional_client_id/migration.sql
  prisma/schema.prisma
  prisma/seed/data/clients.json
  prisma/seed/data/users.json
  src/components/KanbanBoard/KanbanTaskCard.tsx
  src/components/UpdateATask.tsx
  src/pages/api/tasks/index.tsx
Due: prettier --write

Added email helper, api calls now use helper
  package-lock.json
  src/apiService/auth/email.ts
  src/pages/api/tasks/attention-tasks.ts
  src/pages/api/tasks/current.ts
  src/pages/api/tasks/index.tsx
  src/pages/api/tasks/previous-tasks.ts
  src/pages/api/tasks/review-tasks.ts
Due: eslint --fix, prettier --write

Fix bug/feature toggle working incorrectly
  package-lock.json
  src/components/CreateATask.tsx
Due: prettier --write

Added cursor-pointer on hover of kanban task card
  src/components/KanbanBoard/KanbanTaskCard.tsx
Due: none

Fix the ability to pick up a task
  src/pages/api/discord/notify-task-picked-up.ts
Due: eslint --fix

Remove dependency on user email for lookups
  src/components/KanbanBoard/ClientToggle.tsx
  src/components/KanbanBoard/ProgressBar.tsx
  src/components/KanbanBoard/index.tsx
  src/hooks/useUserOwnedClient.ts
  src/pages/api/v2/clients/index.ts
Due: eslint --fix

Add prisma folder to prettier format command
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

remove allow-empty
  package.json
Due: prettier --write

Add build to precommit hook. Remove eslint from precommit
  .husky/pre-commit
  package.json
Due: prettier --write

Add additional file types to lint-staged check
  package.json
Due: prettier --write

Move abandon task modal back into view
  src/components/CurrentTask.tsx
Due: none

Show tasks in review on the 'client mode' page
  src/pages/api/v2/clients/index.ts
Due: eslint --fix

Update log to reference clients API path
  src/pages/api/v2/clients/index.ts
Due: eslint --fix

Hook up tasks to React Context for live updates
  src/actions/setCurrentTask.ts
  src/actions/setPreviousTasks.ts
  src/actions/setTasksInQueue.ts
  src/actions/setTasksInReview.ts
  src/actions/setUser.ts
  src/components/CurrentTask.tsx
  src/components/CurrentTaskContainer.tsx
  src/components/IllDoIt.tsx
  src/components/TaskCard.tsx
  src/components/TaskList.tsx
  src/components/TasksInReview.tsx
  src/components/UserTasksColumn.tsx
  src/contexts/AppContext.tsx
  src/hooks/useCurrentTask.ts
  src/hooks/usePreviousTasks.ts
  src/hooks/useReviewTasks.ts
  src/hooks/useSingleTask.ts
  src/pages/_app.tsx
  src/pages/api/tasks/current.ts
  src/pages/api/v2/clients/index.ts
Due: eslint --fix

Refactor components into related folders
  src/components/TaskList.tsx
  src/components/UserTasksColumn/AttentionTasks.tsx
  src/components/UserTasksColumn/AttentionTasksContainer.tsx
  src/components/UserTasksColumn/CurrentTask.tsx
  src/components/UserTasksColumn/CurrentTaskContainer.tsx
  src/components/UserTasksColumn/PreviousTasks.tsx
  src/components/UserTasksColumn/ReviewTasks.tsx
  src/components/UserTasksColumn/index.tsx
  src/components/emptystates/TaskCardEmptyState.tsx
  src/components/emptystates/TaskColumnEmptyState.tsx
  src/components/emptystates/TaskEmptyState.tsx
Due: none

POST to v2/users/ creates a user with Auth0 info
  prisma/seed/data/clients.json
  prisma/seed/data/users.json
  src/pages/api/v2/users/index.ts
Due: eslint --fix, prettier --write

Return first task from currentTasks
  src/pages/api/v2/tasks/current-task.ts
Due: eslint --fix

Single task hook now uses v2/tasks/current-task
  src/pages/api/v2/tasks/current-task.ts
Due: eslint --fix

Removed conditional check for status in review tasks
  src/components/UserTasksColumn/ReviewTasks.tsx
Due: none

Current task hook now uses updated current task api
  src/hooks/useCurrentTask.ts
Due: eslint --fix

Add filters for the task list
  src/actions/setActiveFilters.ts
  src/actions/setActiveSearchTerm.ts
  src/components/KanbanBoard/KanbanTaskCard.tsx
  src/components/KanbanBoard/UpdateATask.tsx
  src/components/KanbanBoard/index.tsx
  src/components/TaskList/TaskCard.tsx
  src/components/TaskList/TaskTypeFilter.tsx
  src/components/TaskList/index.tsx
  src/components/icons/CubeTransparentOutlineIcon.tsx
  src/contexts/AppContext.tsx
  src/pages/_app.tsx
  src/pages/first-time-user.tsx
  src/theme.ts
Due: eslint --fix

Fix bug with casing
  src/components/TaskList/index.tsx
Due: none

Filter bar is now stickied at top of task list
  src/components/TaskList/TaskListContainer.tsx
  src/components/TaskList/index.tsx
Due: none

Repositioned feature filter icon
  src/components/TaskList/TaskTypeFilter.tsx
Due: none

Task list container is now its own component
  src/components/TaskList/TaskListContainer.tsx
  src/pages/index.tsx
Due: none

Fixed height for client Avatar in task list
  src/pages/index.tsx
Due: none

Upgraded to TailwindCSS V3
  package-lock.json
  package.json
  src/styles/theme.css
  tailwind.config.js
Due: eslint --fix, prettier --write

Revert "Upgraded to TailwindCSS V3"
  package-lock.json
  package.json
  src/styles/theme.css
  tailwind.config.js
Due: eslint --fix, prettier --write

Task hooks use new api
  src/hooks/useAttentionTasks.ts
  src/hooks/useCurrentTask.ts
  src/hooks/usePreviousTasks.ts
  src/hooks/useReviewTasks.ts
  src/pages/api/v2/tasks/task-status.ts
Due: eslint --fix

Fix task list filters
  src/components/TaskList/TaskListContainer.tsx
  src/components/TaskList/index.tsx
  src/pages/index.tsx
Due: none

Fix TaskList styling
  src/components/TaskList/TaskCard.tsx
  src/components/TaskList/TaskListContainer.tsx
  src/pages/index.tsx
Due: none

WIP
  package-lock.json
  package.json
  src/components/CreateATask/RichTextEditor.tsx
  src/components/CreateATask/index.tsx
  src/pages/_app.tsx
  src/styles/RichTextEditor.css
Due: prettier --write

Add example of Draft.js content being rendered
  package-lock.json
  package.json
  src/actions/setCreateATaskState.ts
  src/components/CreateATask/RichTextEditor.tsx
  src/components/CreateATask/index.tsx
  src/components/TaskList/TaskCard.tsx
  src/contexts/AppContext.tsx
  src/pages/_app.tsx
Due: eslint --fix, prettier --write
