Repository joincottage/web-app-base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix memory leak with money shower
  src/components/MoneyConfetti.js
  src/pages/_app.tsx
Due: eslint --fix

Add metadata to Stripe transactions
  src/pages/api/stripe/submit-payment.ts
Due: eslint --fix

Remove datePosted field
  src/components/CreateATask/index.tsx
  src/components/KanbanBoard/UpdateATask.tsx
  src/components/TaskList/TaskCard.tsx
  src/pages/_app.tsx
  src/pages/api/tasks/index.tsx
Due: none

Fix husky script
  package.json
Due: prettier --write

Add linting to pre-commit hook
  .husky/pre-commit
Due: none

Fix unmounting error for SmokeMachine
  src/components/Parallax/SmokeMachine.tsx
Due: none

Optimize parallax image loading
  src/components/Parallax/index.tsx
Due: none

Add space to client bio
  src/components/TaskList/TaskDetailsModal.tsx
Due: none

Update Stripe onboarding copy
  src/components/stripe/OnboardingPrompt.tsx
Due: none

WIP fixing some bugs
  src/components/Parallax/index.tsx
Due: none

Update font
  public/fonts/Avenir-Next-LT-Pro-Regular.otf
  src/components/TaskList/TaskDetailsModal.tsx
  src/styles/theme.css
  src/theme.ts
Due: eslint --fix

Allow users to view the app without logging in. Hide actions that require users to be logged in.
  .vscode/settings.json
  src/components/Navbar.tsx
  src/components/TaskList/TaskDetailsModal.tsx
  src/components/UserTasksColumn/index.tsx
  src/pages/index.tsx
Due: prettier --write

Add custom analytics pipeline for pageviews
  package-lock.json
  package.json
  src/apiService/google-bigquery/writeToBigQuery.ts
  src/apiService/google-pubsub/client.ts
  src/apiService/google-pubsub/publishAppInsights.ts
  src/apiService/google-pubsub/receiveAppInsights.ts
  src/pages/_app.tsx
  src/pages/api/appinsights/publish.ts
  src/pages/api/appinsights/receive.ts
Due: eslint --fix, prettier --write

Link analytics data to Cottage users
  package-lock.json
  package.json
  prisma/migrations/20220122193300_anonid/migration.sql
  prisma/schema.prisma
  src/apiService/google-pubsub/receiveAppInsights.ts
  src/constants/cookies.ts
  src/pages/_app.tsx
  src/pages/api/tasks/review-tasks.ts
  src/pages/api/v2/users/index.ts
  src/pages/index.tsx
  src/utils/cookies.ts
Due: eslint --fix, prettier --write

Allow creation of users from Auth0 action
  src/pages/api/v2/users/index.ts
Due: eslint --fix

Allow index page to be viewed without authentication
  src/hooks/useUser.ts
  src/pages/api/users/[email].ts
  src/pages/api/users/index.ts
  src/pages/index.tsx
Due: eslint --fix

Record referrals
  src/components/UserTasksColumn/index.tsx
  src/pages/_app.tsx
Due: none

Add CORS middleware
  package-lock.json
  package.json
  src/pages/api/appinsights/publish.ts
  src/utils/initMiddleware.ts
Due: eslint --fix, prettier --write

Add analytics
  src/pages/_app.tsx
  src/pages/index.tsx
Due: none

Record full URL in analytics
  src/pages/_app.tsx
Due: none

Add origin to analytics
  src/apiService/google-pubsub/publishAppInsights.ts
  src/apiService/google-pubsub/receiveAppInsights.ts
  src/constants/analytics.ts
  src/pages/_app.tsx
  src/pages/api/appinsights/publish.ts
Due: eslint --fix

Add Sentry integration
  .gitignore
  next.config.js
  package-lock.json
  package.json
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/pages/_error.js
Due: eslint --fix, prettier --write

Remove dead API endpoints
  src/pages/api/discord/notify-task-complete.ts
  src/pages/api/discord/notify-task-picked-up.ts
Due: eslint --fix

Wrap API handlers with Sentry
  src/pages/api/appinsights/publish.ts
  src/pages/api/appinsights/receive.ts
  src/pages/api/clients/index.ts
  src/pages/api/create-stripe-account.ts
  src/pages/api/discord/channel.ts
  src/pages/api/discord/invite.ts
  src/pages/api/discord/notify-new-user.ts
  src/pages/api/stripe/account-link.ts
  src/pages/api/stripe/secret.ts
  src/pages/api/stripe/submit-payment.ts
  src/pages/api/tasks/abandon-task.ts
  src/pages/api/tasks/attention-tasks.ts
  src/pages/api/tasks/current.ts
  src/pages/api/tasks/index.tsx
  src/pages/api/tasks/previous-tasks.ts
  src/pages/api/tasks/review-tasks.ts
  src/pages/api/tasks/task-username.ts
  src/pages/api/v2/clients/index.ts
  src/pages/api/v2/job-postings/index.ts
  src/pages/api/v2/tasks/[id].ts
  src/pages/api/v2/tasks/current-task.ts
  src/pages/api/v2/tasks/index.ts
  src/pages/api/v2/tasks/task-status.ts
  src/pages/api/v2/users/index.ts
Due: eslint --fix

Throw errors to Sentry
  src/apiService/google-pubsub/publishAppInsights.ts
  src/pages/api/appinsights/publish.ts
  src/pages/api/appinsights/receive.ts
  src/pages/api/discord/channel.ts
  src/pages/api/discord/invite.ts
  src/pages/api/discord/notify-new-user.ts
  src/pages/api/discord/notify-task-picked-up.ts
  src/pages/api/stripe/secret.ts
  src/pages/api/stripe/submit-payment.ts
  src/pages/api/tasks/abandon-task.ts
  src/pages/api/tasks/attention-tasks.ts
  src/pages/api/tasks/current.ts
  src/pages/api/tasks/index.tsx
  src/pages/api/tasks/previous-tasks.ts
  src/pages/api/tasks/review-tasks.ts
  src/pages/api/tasks/task-username.ts
  src/pages/api/v2/clients/index.ts
  src/pages/api/v2/job-postings/index.ts
  src/pages/api/v2/tasks/[id].ts
  src/pages/api/v2/tasks/current-task.ts
  src/pages/api/v2/tasks/index.ts
  src/pages/api/v2/tasks/task-status.ts
  src/pages/api/v2/users/index.ts
Due: eslint --fix

Fix tracking cookies
  src/pages/index.tsx
Due: none

Move Sentry keys into env variables
  sentry.client.config.js
  sentry.server.config.js
Due: eslint --fix

Fix PubSub schema
  src/components/TaskList/TaskDetailsModal.tsx
Due: none

Refactor app insights
  src/apiService/google-pubsub/receiveAppInsights.ts
  src/components/TaskList/TaskDetailsModal.tsx
  src/pages/_app.tsx
  src/pages/api/appinsights/publish.ts
  src/utils/appinsights.ts
Due: eslint --fix

Share tracking cookie between app and marketing site
  src/constants/analytics.ts
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix

Share tracking cookie with marketing site
  src/pages/_app.tsx
Due: none

Add session id to analytics
  src/apiService/google-pubsub/publishAppInsights.ts
  src/constants/cookies.ts
  src/pages/api/appinsights/publish.ts
  src/utils/appinsights.ts
Due: eslint --fix

Add session notifications to Discord
  src/pages/api/discord/notify-new-session.ts
  src/pages/api/v2/users/by-anon-id.ts
  src/utils/appinsights.ts
Due: eslint --fix

Hide unnecessary scroll bars
  src/styles/theme.css
Due: none

Hide horizontal scrollbar on task list
  src/components/TaskList/TaskListContainer.tsx
Due: none

Pull Stripe info from User API
  src/pages/_app.tsx
  src/pages/api/v2/users/index.ts
  src/utils/appinsights.ts
Due: eslint --fix

Integrate account-link API with Softr
  .gitpod.yml
  package-lock.json
  src/pages/api/stripe/account-link.ts
Due: eslint --fix, prettier --write

Update Airtable when account is linked to Stripe
  package-lock.json
  package.json
  src/pages/api/stripe/account-link.ts
Due: eslint --fix, prettier --write

Fix package-lock
  package-lock.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  prettier --write: any of: *.{json,md}
