Repository joincottage/web-app-base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

Update account linking
  src/pages/api/stripe/account-link.ts
Due: eslint --fix

Add Airtable API key
  src/pages/api/stripe/account-link.ts
Due: eslint --fix

Fix build
  src/pages/api/stripe/account-link.ts
Due: eslint --fix

Redirect Softr to IDE cluster
  package-lock.json
  package.json
  src/pages/api/airtable/assign-task.ts
Due: eslint --fix, prettier --write

Fix Airtable task updates
  src/pages/api/airtable/assign-task.ts
Due: eslint --fix

Update task email correctly
  src/pages/api/airtable/assign-task.ts
Due: eslint --fix

Remove analytics
  src/pages/_app.tsx
Due: none

feat: add config file to eslintignore and remove explicit package
  .eslintignore
  package-lock.json
  package.json
Due: prettier --write

fix environment to run dev preview
  package.json
Due: prettier --write

Remove parallax
  package-lock.json
  package.json
  src/pages/_app.tsx
Due: prettier --write

Prepare workspace when environment loads
  .gitpod.yml
Due: none

Change terminal window order
  .gitpod.yml
Due: none

Approve all when installing dependencies
  .gitpod.yml
Due: none

Install devDependencies into programming environment
  .gitpod.yml
Due: none

Add endpoint for creating DB in Notion
  package-lock.json
  package.json
  prisma/migrations/20220309012832_notion_db_id/migration.sql
  prisma/migrations/20220309013549_github_org_name/migration.sql
  prisma/schema.prisma
  src/apiService/notion/addTaskToDB.ts
  src/apiService/notion/client.ts
  src/apiService/notion/createDB.ts
  src/apiService/notion/getDBIdByOrg.ts
  src/pages/api/clients/index.ts
  src/pages/api/notion/customer-kanbans/[org]/index.ts
Due: eslint --fix, prettier --write

Remove hard-coded value
  src/pages/api/notion/customer-kanbans/[org]/index.ts
Due: eslint --fix

Add DB ID to response
  src/pages/api/notion/customer-kanbans/[org]/index.ts
Due: eslint --fix

Add Notion task endpoint
  src/apiService/notion/addTaskToDB.ts
  src/apiService/notion/createDB.ts
  src/pages/api/notion/customer-kanbans/[org]/tasks/index.ts
Due: eslint --fix

Fix Notion API
  src/apiService/notion/addTaskToDB.ts
  src/pages/api/notion/customer-kanbans/[org]/index.ts
  src/pages/api/notion/customer-kanbans/[org]/tasks/index.ts
Due: eslint --fix

Add additional fields to Notion task
  src/apiService/notion/addTaskToDB.ts
  src/pages/api/notion/customer-kanbans/[org]/index.ts
  src/pages/api/notion/customer-kanbans/[org]/tasks/index.ts
Due: eslint --fix

Revert Stripe API Airtable integration
  src/pages/api/stripe/account-link.ts
Due: eslint --fix
