Repository joincottage/web-app-base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

Adjust client bio to match Figma
  src/components/TaskList/TaskDetailsModal.tsx
Due: none

Resolve styling conflict between Tailwind and MUI
  src/components/TaskList/TaskCard.tsx
  src/components/TaskList/TaskListContainer.tsx
  src/components/UserTasksColumn/index.tsx
  src/components/emptystates/TaskColumnEmptyState.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/theme.css
  src/theme.ts
Due: eslint --fix

Add construction notifcation to client mode
  src/components/KanbanBoard/index.tsx
  src/components/TaskList/index.tsx
Due: none

Add smoke effect
  public/cottage.svg
  src/components/SmokeMachine.tsx
  src/pages/index.tsx
Due: none

Add decorative elements to freelancer landing page
  public/cottage.png
  public/cottage.svg
  public/forest.svg
  src/components/SmokeMachine.tsx
  src/pages/index.tsx
Due: none

Turn light on in cottage when user has a current task
  public/cottage-light.png
  src/pages/_app.tsx
Due: none

Remove sky image
  src/pages/_app.tsx
Due: none

Add cottage parallax
  public/cottage.png
  public/forest.svg
  public/hill.png
  public/moon.png
  public/sky.png
  public/sky.svg
  src/components/TaskList/TaskDetailsModal.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/manage-tasks.tsx
  src/scripts/parallax.ts
  src/styles/theme.css
Due: eslint --fix

Add parallax elements
  public/hill.png
  public/sky.svg
  src/components/Navbar.tsx
  src/components/TaskList/TaskDetailsModal.tsx
  src/pages/index.tsx
Due: none

Created Accept And Pay modal
  src/components/KanbanBoard/AcceptAndPayModal.tsx
  src/components/KanbanBoard/KanbanTaskCard.tsx
Due: none

Fix error when running docker-compose in Strong Network
  docker-compose.yml
Due: none

Add style fix for NavBar
  src/components/Navbar.tsx
Due: none

Remove posting task to Discord
  src/pages/api/tasks/index.tsx
Due: none

Fix rendering of task description
  package-lock.json
  package.json
  src/components/CreateATask/RichTextEditor.tsx
  src/components/TaskList/TaskDetailsModal.tsx
Due: prettier --write

Fix link style
  src/styles/theme.css
Due: none

Fix hill and cottage positioning
  src/components/SmokeMachine.tsx
  src/pages/_app.tsx
  src/styles/theme.css
Due: none

Add forest mask
  src/pages/_app.tsx
  src/styles/theme.css
Due: none

Always have cottage populated
  src/pages/_app.tsx
Due: none

Smooth mountain edge
  src/pages/_app.tsx
Due: none

Reformat create-a-task form
  src/components/CreateATask/index.tsx
  src/components/KanbanBoard/index.tsx
Due: none

Allow rich-text-editor to scroll
  src/components/CreateATask/index.tsx
Due: none

Support long task descriptions
  src/components/CreateATask/index.tsx
  src/components/TaskList/TaskDetailsModal.tsx
  src/styles/RichTextEditor.css
Due: none

Remove chat icon
  src/components/Navbar.tsx
Due: none

Add style fixes
  package-lock.json
  package.json
  src/components/TaskList/TaskCard.tsx
  src/components/TaskList/TaskDetailsModal.tsx
  src/components/TaskList/TaskListContainer.tsx
  src/components/TaskList/index.tsx
  src/styles/theme.css
Due: prettier --write

Increase task description field size
  prisma/migrations/20220118225959_task_desc_increase/migration.sql
  prisma/schema.prisma
Due: none

Add style fixes
  src/components/TaskList/index.tsx
Due: none

Fix TaskDetailModal buttons style in prod
  src/components/TaskList/TaskDetailsModal.tsx
Due: none

Fix build error
  src/components/TaskList/index.tsx
Due: none

Fix current task style in prod
  src/components/UserTasksColumn/CurrentTask.tsx
Due: none

Fix error when updating tasks
  src/pages/api/v2/tasks/index.ts
Due: eslint --fix

Add pending state for accepting a task
  src/components/TaskList/TaskDetailsModal.tsx
Due: none

Update IDE link
  src/components/UserTasksColumn/CurrentTask.tsx
Due: none

Redirect to Stripe onboarding page
  src/pages/api/stripe/account-link.ts
Due: eslint --fix

Add refresh URL for Stripe
  src/pages/api/stripe/account-link.ts
Due: eslint --fix

Hook up new Stripe account
  src/pages/api/stripe/account-link.ts
  src/pages/api/stripe/secret.ts
  src/pages/api/stripe/submit-payment.ts
Due: eslint --fix

Fix payment modal
  src/components/KanbanBoard/AcceptAndPayModal.tsx
Due: none

Add onboarding flow for Stripe
  public/one_dollar_bill.png
  public/one_dollar_bill_reverse.png
  src/components/MoneyConfetti.js
  src/components/TaskList/TaskDetailsModal.tsx
  src/components/stripe/OnboardingPrompt.tsx
  src/hooks/useUser.ts
  src/pages/api/v2/tasks/index.ts
Due: eslint --fix

Remove purple links
  src/styles/theme.css
Due: none

Refactor dollar shower
  public/dollar_back.png
  public/dollar_front.png
  src/components/MoneyConfetti.js
  src/components/TaskList/TaskDetailsModal.tsx
Due: eslint --fix
